
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InComplete</title>

    <script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .ww {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            text-align: center;
        }

            .ww:hover {
                background-color: #ff0000;
                color: white;
            }
    </style>
</head>
<body>
    <div>

        <div class="ww alert alert-danger" role="alert">
            TAMAMLANMADI
        </div>


    </div>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
